*{
    margin: 0;
    padding: 0;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 54px;
    height:  110px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;   
    z-index: 10;
    transition:  linear 0.1s;


}

.header-logo{
    display: flex;
    align-items: center;
    
}

.header-logo-img{
    height: 110px;
}
.header-logo-img-sticky{
    height: 110px;
    display: none;
}
.header-menu{
    display: flex;
    align-items: center;
}
.header-menu-nav-list{
    display: flex;
    flex: 1;
    list-style: none;
    margin-right: 1.6em;
}
.header-menu-nav-link{
    padding: 0 16px;
}
.header-menu-social-link:hover,
.header-menu-nav-link:hover{
    color: #856dff;
    transition: linear 0.5s;
}

.header-menu-social-link,
.header-menu-nav-link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 1000;
}
.header-menu-social-list{
    display: flex;
    list-style: none;

}
.header-menu-social-item{
    margin-right: 1.6em;
}
.header-menu-tablet__search,
.header-menu-tablet__icon{
    display: none;
}
.header-menu-tablet{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    
}
.header-menu-tablet__close{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 800;
    float: right;
    margin: 16px;
}
.header-menu-tablet__container{
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    animation: showRight linear 0.2s;
    
}
.header-menu-tablet__nav-list{
    margin-top: 50px;
}
.header-menu-tablet__nav-item{
    list-style: none;
    padding: 4px 16px;
}
.header-menu-tablet__nav-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 800;
}
.header-menu-tablet__social-list{
    display: flex;
    padding: 8px 16px;
}
.header-menu-tablet__social-item{
    list-style: none;
    padding-right: 16px;
}
.header-menu-tablet__social-link{
    color: var(--text-color);
    font-size: 2rem;
}
.header-menu-tablet__nav-link:hover,
.header-menu-tablet__social-link:hover{
    color: var(--primary-color);
}
.sticky{
    background: #fff;
    height: 50px;
    /* padding: 0 54px; */
    transition:  linear 0.3s;
    display: flex;
    align-items: center;

}
.sticky .header-logo-img{
    display: none;
}
.sticky .header-logo-img-sticky{
    display: block;
    align-items: center;
}

.sticky .header-menu-social-link,
.sticky .header-menu-nav-link{
    color: var(--header-color);
    font-weight: 700;
}
.sticky .header-menu-social-link:hover,
.sticky .header-menu-nav-link:hover{
    color: var(--primary-color);
    transition: none;
}
.sticky .header-menu-tablet__icon{
    color: var(--header-color);
}
.open{
    display: block;
    
}
/* Slider */

.slider{
    background: url('https://binhminh3001.github.io/bluelab/img/Vector-Smart-Object.jpg') no-repeat, top right;
    height: 700px;
    width: 100%;
    /* position: relative; */

}
.slider-content{
    padding: 200px 0 0 150px;

}
.slider-content-slogan{
    color: #9ecdff;
    font-size: 1.8rem;
    font-weight: 1000;
    padding-bottom: 40px;

}
.slider-content-header{
    color: var(--white-color);
    font-size: 3.7rem;
    line-height: 4.4rem;
    padding-bottom: 45px
}
.slider-content-text{
    font-size: 1.6rem;
    color: #9ecdff;
    line-height: 2.8rem;
    padding-bottom: 55px;
}
.slider-content-btn{
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 15px 30px;
    border-radius: 40px;
}
.slider-image{
    width: 100%;
    height: 100%;
    position: relative;
}
.slider-image-background{
    position: absolute;
    width: 600px;
    top: 27%;
    right: 20%;
}
.slider-image-table{
    position: absolute;
    width: 355px;
    top: 57%;
    right: 37%;
}
.slider-image-chair{
    position: absolute;
    width: 500px;
    top: 60%;
    right: 29%;
}
.slider-image-agency{
    position: absolute;
    width: 170px;
    top: 37%;
    right: 26%;

}
.slider-image-client{
    position: absolute;
    width: 180px;
    top: 45%;
    right: 67%;
}
.service{
    padding-top: 150px;
}
.service__icon{
    font-size: 4rem;
    color: var(--primary-color);
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.service__title{
    font-size: 2rem;
    text-align: center;
    color: var(--header-color);
    margin-bottom: 24px;
}
.service__des{
    --height-text: 1.6rem;
    font-size: var(--height-text);
    color: var(--text-color);
    padding: 0 8px;
    line-height: calc(var(--height-text) * 2) ;
    letter-spacing: 2px;
}

.service-seo{
    padding-top: 150px;
}
.service-detail-container-text{
    padding: 50px 8px 0 8px;
}

.service-detail-container-text__subheader{
    font-size: 2rem;
    letter-spacing: 1.5px;
    color: var(--text-color);
    padding: 24px 0px;
}

.service-detail-container-text__header{
    font-size: 4rem;
    letter-spacing: 2px;
    line-height: 6rem;
    padding: 16px 0;
    color: var(--header-color);
}

.service-detail-container-text__content{
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 2.8rem;
    padding: 16px 42px 16px 0;
}
.service-detail-container-img{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.service-web{
    padding-top: 150px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 150px;
}
.homepage-video__subtitle{
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: var(--text-color);
    text-align: center;
}
.homepage-video__title{
    font-size: 4rem;
    line-height: 8rem;
    color: var(--header-color);
    text-align: center;

}
.home-video{
    padding-top: 150px;
    padding-bottom: 150px;
}

.homepage-video__video{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.hompage-video__container{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.hompage-video__container:hover .videos-controls{
    transform: translateY(0);
}
.videos-controls{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%)  translateY(-5px);
    transition: 0.5s;
}
.videos-button{
    padding: 10px;
}
.videos-button #play-pause{
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
}
.videos-button #play-pause::before{
    content: '\f144';
    font-family: 'Font Awesome 5 free';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 2.8rem;
    color: var(--white-color);
    
}
.videos-button #play-pause.play::before{
    content: '\f144';
}
.videos-button #play-pause.pause::before{
    content: '\f28b';
}
.videos-bar{
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
}
.videos-times{
    height: 10px;
    background: orangered;

}
.homepage-video__list-title,
.homepage-video__des-title{
    font-size: 2rem;
    line-height: 3.6rem;
    color: var(--header-color);
    padding-left: 50px;
}
.homepage-video__des-content{
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 2.8rem;
    color: var(--text-color);
    padding: 10px 50px 0 50px;
}
.homepage-video__list-list{
    list-style: none;
    padding-top: 10px;
    padding-left: 50px;
}
.homepage-video__list-item{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2.8rem;
    color: var(--text-color);
    padding-bottom: 8px;
}
.homepage-video__list-item-icon{
    color: var(--primary-color);
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 2.8rem;
}
.price{
    background-color: #f8f8ff;
    padding: 120px 0;

}
.price-container{
    padding: 35px 15px 0;
}
.price-subtitle{
    font-size: 2rem;
    line-height: 4rem;
    color: var(--text-color);
    letter-spacing: 2px;
    text-align: center;

}
.price-title{
    font-size: 4rem;
    line-height: 8rem;
    text-align: center;
    color: var(--header-color);
    padding-bottom: 70px;
}
.price-service{
    padding: 120px 40px;
}
.price-service__highlights{
    background-color: var(--white-color);
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 5px;
}
.price-service__type{
    font-size: 3rem;
    line-height: 6rem;
    padding-bottom: 20px;
    color: var(--text-color);
    text-align: center;


}
.price-service__price{
    font-size: 8rem;
    line-height: 8rem;
    color: var(--black-color);
    opacity: 0.8;
    text-align: center;
    padding-bottom: 60px;
}
.price-service__des{
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 2px;
    text-align: center;
    color: var(--text-color);
    padding-bottom: 50px;
}
.person{
    padding-top: 100px

}
.person-text{
    padding: 35px 15px 0 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.person-text__subtitle{
    font-size: 2rem;
    line-height: 4rem;
    padding-top: 20px;
    color: var(--text-color);

}
.person-text__title{
    font-size: 4rem;
    line-height: 6rem;
    color: var(--header-color);
    padding-top: 10px;

}
.person-text__content{
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 2px;
    color: var(--text-color);
    position: relative;
}
.person-container{
    padding: 120px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.person-container__member-link{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.person-container__member-link:nth-child(1){
    position: absolute;
    top: calc(5% + 10px);
    left: 10%;
}
.person-container__member-link:nth-child(2){
    position: absolute;
    top: calc(5% + 10px);
    left: calc(10% + 70px);
}
.person-container__member-link:nth-child(3){
    position: absolute;
    top: calc(5% + 10px);
    left: calc(10% + 140px);
}

.person-container__member-img{
    width: 50px;
    border-radius: 50%;
    opacity: 0.7;
    border: 2px solid #ccc;
}
.member--active{
    opacity: 1;
    border: 5px solid var(--primary-color);
}
.person-container__info{
    background-color: #f8f8ff;
    padding: 80px 40px;
    margin: 0 185px;
    
}
.person-container__frames{
    padding: 14px 0;
    border: 2px solid #f8f8ff;
}
.person-container__thumnail{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.person-container__headline{
    font-size: 2rem;
    line-height: 4rem;
    color: var(--text-color);
    letter-spacing: 2px;
    padding-top: 35px;

}
.person-container__career{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4rem;
    color: var(--black-color);
    opacity: 0.8;

}
.person-container__pagination-list{
    display: flex;
    list-style: none;
    margin-top: 30px;
    justify-content: center;

}
.person-container__pagination-item{
    margin: 5px 7px;
}
.person-container__pagination-link{
    border: none;
    background-color: #9bace6;
    width: 10px;
    height: 10px;
    border-radius: 50%;


}
.pagination--active{
    background-color: #5472d2;
}
@keyframes showRight {
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
